body {
    width: 60%; /* largura */
    margin: auto;/* centralizado */
    background-color: rgb(67, 168, 236);
    margin-top: 100px; /* espaçamento externo acima */
  }
  
  div{
    padding: 10px; /* tamanho do espaço */
  }

  .botao{ /* estilização dos botões */
    border: black; 
    background-color: burlywood;
    border-style: solid solid solid solid; /* definição de borda */
    font-size: 20px;
  }

  .botao:hover{ /* quando o mouse passa pelo botão */
    color: #000000;
    background-color: #6efaee;
    border-radius: 10px 10px 10px 10px; /* curva da borda */
  }
  
  main {
    background-color: rgb(240, 105, 105);
    border-radius: 20px;
    padding: 10px;
  }